
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Service</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="left--nav">
                <h1>E-Service</h1>
                <ul>
                    <li>Home</li>
                    <li>Find Service</li>
                </ul>
            </div>
            <div class="right--nav">
                <h3>Log in</h3>
                <button>Sign up</button>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
        <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat, magnam!</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam qui rerum, dolores eum suscipit debitis eligendi soluta quibusdam tempore ipsum, repudiandae esse tempora! Expedita distinctio voluptatem perferendis a. Quam, in.</p>
        <button>Offer a Service</button>
        </div>
    </main>
</body>
</html>
