<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>E-service</title>
    <link href="{{ url_for('static', filename='css/form.css') }}" rel="stylesheet">
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flash-messages">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <section>

        <div class="container">
        <form method="POST" action="/register/user" class="form">
             <h2>User Registration</h2>
            <div class="label__form">
                <label for="full_name" class="form-label">Full Name:</label>
                <input type="text" name="full_name" required class="form__inputs"><br><br>
            </div>
            <div class="label__form">
                <label for="email" class="form-label">Email:</label>
                <input type="email" name="email" class="form__inputs" required><br><br>
            </div>
            <div class="label__form">
                <label for="phone_number" class="form-label">Phone Number:</label>
                <input type="text" name="phone_number" class="form__inputs" required><br><br>
            </div>
            <div class="label__form">
        
                <label for="password" class="form-label">Password:</label>
                <input type="password" name="password" class="form__inputs" required><br><br>
            </div>
            <div class="label__form">
                <label for="password_confirm" class="form-label">Confirm Password:</label>
                <input type="password" name="password_confirm" class="form__inputs" required><br><br>
            </div>
            <input type="submit" value="Sign Up" class="btn">
            <p>If already registered, login <a href="/login/user">here</a></p>
        </form>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>