<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Service</title>
    <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <h1>E-service</h1>
        <ul class="nav-list">
            <li class="nav-items"><a href="#">Home</a></li>
            <li class="nav-items"><a href="/logout">logout</a></li>
        </ul>
        <ul>
            <li><a href="#" class="btn">Register service</a></li>
        </ul>
    </nav>
    <main>
        <div class="body">
            <h1>Available Services</h1>
        </div>
    </main>
</body>
</html>