<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Service</title>
    <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <nav class="navbar">
        <h1>E-service</h1>
        <ul class="nav-list">
            <li class="nav-items"><a href="#">Home</a></li>
            <li class="nav-items"><a href="{{ url_for('fetch_user_and_trader_locations', user_id=user_id) }}">Find Service</a></li>
            <li class="nav-items"><a href="/logout">logout</a></li>
        </ul>
        <ul>
            <li class="username">name{{ current_user.full_name }}</li>
        </ul>
    </nav>
    <main>
        <div>
            <h1><strong> Welcome to User dashboard</strong></h1>
            <button id="pinLocationButton">Pin Location</button>
            <div id="mapContainer" style="height: 400px;"></div>
            <input type="hidden" id="latitude" value="">
            <input type="hidden" id="longitude" value="">
            <input type="hidden" id="user_id" name="user_id" value="{{ user_id }}">
            <script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>
            <script src="{{ url_for('static', filename='js/user_map.js') }}"></script>
        </div>
    </main>
</body>
</html>