@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nav-items > a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-list {
    display: flex;
}

.nav-items {
    padding: 20px;
}

.nav-items:hover {
    text-decoration: underline;
}

nav > h1 {
    background: linear-gradient(to right, #ff0000, #9c3838);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-right: 20px;
}