@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.form {
    border: 1px solid #0e0d0d;
    border-radius: 20px;
    padding: 2.5rem;
}

h2 {
    color: #ec0c0c;
    font-size: 2em;
    text-align: center;
}

.label__form {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 50px;
    width: 310px;
    border-bottom: 2px solid #0e0d0d;
    margin-bottom: 5px;
}

.form__inputs {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
}

.btn {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: green;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 400;
    margin-top: 10px;
    color: #fff;
    margin-bottom: 20px;
}

.btn:hover {
    cursor: pointer;
    background: transparent;
    color: #0e0d0d;
    border: 1px solid green;
}

.flash-messages {
    list-style: none;
    padding: 0;
    text-align: center;
}

.flash-messages li {
    padding: 1.5em;
    margin: 10px 0;
    border: 1px solid #ccc;
}

/* Style for error messages */
.flash-messages .error {
    background-color: #ffdddd;
    color: #dc3545;
}
}

p > a {
    text-decoration: none;
}

p > a:hover {
    text-decoration: underline;
}
p {
    text-align: start;
}
#pinLocationButton {
    background-color: #ff69b4;  /* Pink color */
    color: #fff;  /* White text color */
    border: none;
    padding: 10px 20px;  /* Adjust padding as needed */
    cursor: pointer;
    border-radius: 5px;  /* Optional: Rounded corners */
    transition: background-color 0.3s;  /* Smooth transition effect */

    /* Optional: Add more styles for hover and active states */
}

#pinLocationButton:hover {
    background-color: #d1478e;  /* Lighter pink on hover */
}

#pinLocationButton:active {
    background-color: #a0306f;  /* Darker pink on click */
}
