@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
}
.navbar {
    display: flex;
    width: 100%;
    height: 80px;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.left--nav {
    display: flex;
    align-items: center;
}

.left--nav > h1 {
    background: linear-gradient(to right, #ff0000, #9c3838);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-right: 20px;
    
}


.left--nav > h1:hover {
    color: lightcoral;
}

.left--nav > ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.left--nav > ul > li {
    cursor: pointer;
    color: lightslategray;
}

.left--nav > ul > li:hover {
    color: rgb(6, 6, 26);
    text-decoration: underline;
}

.right--nav {
    display: flex;
    align-items: center;
}

.right--nav > h3 {
    padding: 1rem;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    color: lightslategray;
}

.right--nav > h3:hover {
    color: rgb(5, 5, 24);
}

.right--nav > a {
    padding: .5rem .75rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 2rem;
    font-weight: 500;
    background-color: green;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.right--nav > a:hover {
    cursor: pointer;
    background: transparent;
    border: 1px solid green;
    color: green;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: auto;
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container > h1 {
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.container > p {
    margin-bottom: 20px;
}

.btn-service {
    text-decoration: none;
    border: none;
    color: white;
    cursor: pointer;
    background: red;
    display: block;
    border-radius: 2rem;
    padding: 1rem 2.5rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
}

.btn-service:hover {
    border: 1px solid rgba(250, 1, 1, 0.979);
    color: rgb(252, 10, 10);
    background: transparent;
}

.button {
    font-size: 1em;
    color: rgb(222, 238, 222);
    padding: 0.75em 2.5em;
    background-color: rgb(15, 15, 17);
    margin: 20px;
    border-radius: 40px;
    text-transform: capitalize;
}

.button:hover {
    border: 1px solid black;
    color: black;
    background: transparent;
}

.login:hover {
    text-decoration: underline;
}